@mixin flex($display, $dir, $justify) {
    display: $display;
    flex-direction: $dir;
    justify-content: $justify;
}

%displsy_style {
    width: inherit;
    padding-left: 10px;
    @include flex(flex, row, flex-start);
    align-items: center;
}